:root {
    --ff-base: 'Outfit', sans-serif;

    --fs-regular: 15px;

    --fw-semi-bold: 400;
    --fw-bold: 700;

    --clr-white: hsl(0, 0%, 100%);
    --clr-light-gray: hsl(212, 45%, 89%);
    --clr-grayish-blue: hsl(220, 15%, 55%);
    --clr-dark-blue: hsl(218, 44%, 22%);
}

body {
    font-family: var(--ff-base);
    font-weight: var(--fw-semi-bold);
    font-size: var(--fs-regular);
    background-color: var(--clr-light-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0 1.5rem 0 1.5rem;
    overflow-y: hidden;
}

.qr {
    background-color: var(--clr-white);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
}

.qr__img {
    padding: 0.5rem 1rem 0 1rem;
    border-radius: 1.5rem;
    width: 90%;
    margin: 0.5rem;
}

.qr__content {
    padding: 1rem 2rem 2rem 2rem;
    text-align: center;
    display: grid;
    gap: 0.1rem;
}

.qr__title {
    color: var(--clr-dark-blue);
    text-align: center;
    margin: 0;
}

.qr__text {
    color: var(--clr-grayish-blue);
    padding: 0 0.2rem 0 0.2rem;
    text-align: center;
    font-size: 1rem;
}

@media (min-width: 680px) {
    .qr {
        max-width: 330px;
    }
}